.red { color:red  !important}
.green { color:green !important}
.orange { color:orange !important}

#cabecera1 { background-color:#daddc9; }  
#cabecera1 { background-color:#000000; }  


.textoCabecera {color:#B4CC12 !important}

.navbar-default {	background-color: #daddc9; }